<h1>New <%=@ranking.category.sport.name %> Ranking</h1>
<!-- form for ranking -->
<%= form_for @ranking do |f|%>

    <h2>✩ <%= @ranking.category.title %> Ranking ✩</h2>
    <h4><%= f.label :category_id, "Category"%>
    <%= f.collection_select :category_id, Category.all, :id, :title, prompt: true%></h4>

    <!-- DOUBLE NESTED FORM  -->
    <h4>Select or Create Players: </h4>
    <!-- plural b/c a :ranking has_many :players -->
    <ol>
        <%= f.fields_for :players do |player|%>
        <li>
            <hr>
            <%= player.collection_select(:player_id, Player.all, :id, :last_name, include_blank: true)%>
            <%= player.label :first_name, "First:"%>
            <%= player.text_field :first_name %>
            <%= player.label :last_name, "Last:"%>
            <%= player.text_field :last_name %>
            <%= player.label :position, "Position:" %>
            <%= player.text_field :position %>
            <%= player.label :number, "Number:"%>
            <%= player.number_field :number %>

            <!-- singular b/c :player belongs_to :team -->
            <%= player.fields_for :team do |player_team|%>
                <%= player_team.label :team %>
                <%= player_team.collection_select(:team_id, Team.all, :id, :name, include_blank: true)%></h4>
            <% end %>
            <hr>
        </li>
        <% end %>
    </ol>


    <!-- text area for a description -->
    <%= f.label :description, "Honorable Mentions" %><br>
    <%= f.text_area :description %>
    <br>

    <!-- a submit button -->
    <%= f.submit %>

<% end %>
